.App-footer {
  text-align: center;
  margin: 30px 0;
}

/* /content: ""; */
body {
  background-image: url("./images/dictionary-cover.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body:after {
  content: "";
  background-image: url("./images/dictionary-cover.jpeg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  margin: 0;
}
.container {
  position: relative;
  height: 100vh;
}
.container:before {
  background: url("./images/dictionary-cover.jpeg") center / cover;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
