.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.definition {
  font-family: "Roboto Serif", sans-serif;
}

.Meaning ul {
  list-style-type: square;
}
