.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}
.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -10px;
  width: 520px;
  height: 160px;
  display: block;
  z-index: 999;
}
