.Synonyms {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 100;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
  list-style-type: circle;
}
